html, body {
    font-family: Lato;
}
label {
    display: block;
    margin: 10px;
}
input, select {
    font-size: 14px;
    font-family: Lato;
    padding: 5px;
    margin-left: 5px;
}
form {
    margin: 30px 10px;
}
.add-employee {
    padding: 10px;
    border-radius: 5px;
    background-color: #595;
    color: white;
    font-family: Lato;
    font-size: 14px;
    border: 0;
}
.download {
    line-height: 20px;
    padding: 10px;
    display: block;
}